/* Author: Menyeneabasi Obong */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root {
    max-width: 450px;
    --teal: #4CA7C0;
    --purple:  #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray:#1E1E1E;
    --white: #ffffff;
}


html {
    background-color: var(--lavender);
    margin: 0 auto;
}

header {
    background-color: var(--purple);
    color: white;
    text-align: center;
    height: 250px;
}

header h1, header p {
    text-align: center;
}

h1, h2 {
    font-family: 'Kavoon';
}



p {
    font-family: 'Inter';
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

.services-section {
    background-color: var(--white);
    border-radius: 1rem;
    margin: 0rem auto;
    padding: 1.5rem;
    width: 80%;
}

.services-section h4 {
    color: var(--purple);
    font-weight: bolder;
    margin: 0.25rem auto;
}

.services-section p {
    font-family: 'Kavoon';
    font-weight: 500;
    margin: 0;
    line-height: 1.25;

}

.services-section h4, .services-section p {
    font-family: 'Inter';
    padding: 1rem;
}

.our-services {
    background-color: var(--purple);
    padding-bottom: 1rem;
}

.services-header {
    font-family: 'Inter';
    font-weight: bold;
    color: var(--white);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 3ch;
}

.services-header h3 {
    color: var(--yellow);
}

.choose-container {
    background-color: var(--pink);
    padding: 20px 10px;
    border: 10px 10px;
}

.choose-container h2 {
    color: var(--white);    
    padding: 10px 5px;
    margin-bottom: 0.25rem;
}

.choose-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
    max-width: 450px;
    margin: 0 auto;
    padding: 0;
} 

.choose-page li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: var(--black);
    padding: 20px 10px;
}

.choose-page .first-option {
    background-color: var(--teal);
}
.choose-page .second-option {
    background-color: var(--lavender);
}
.choose-page .third-option {
    background-color: var(--yellow);
}
.choose-page .fourth-option {
    background-color: var(--white);
}