/* Author: Menyeneabasi Obong */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root {
    max-width: 450px;
    --teal: #4CA7C0;
    --purple:  #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray:#1E1E1E;
    --white: #ffffff;
}


html {
    background-color: var(--lavender);
    margin: 0 auto;
}

body {
    margin-bottom: 30px;
}

header {
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 1rem 4rem;
}

header h1, header p {
    text-align: center;
    margin: 1rem;
}

h1, h2 {
    font-family: 'Kavoon';
}


p {
    font-family: 'Inter';
}

h1 {
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 1px;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

nav {
    padding: 1.25rem;
}

nav, nav h2  {
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    background-color: var(--yellow);
    font-style: italic;
}

.menu-list li {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 17.5px;
    font-style: normal;
    padding: 1rem;
    background-color: var(--white);
    color: var(--purple);
    margin: 1rem;
}

.services-section {
    background-color: var(--white);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 80%;
}

.services-section h4 {
    color: var(--purple);
    font-weight: bolder;
    margin: 0.25rem auto;
}

.services-section p {
    font-family: 'Kavoon';
    font-weight: 500;
    margin: 0;
    line-height: 1.25;

}

.services-section h4, .services-section p {
    font-family: 'Inter';
    padding: 1rem;
}

.our-services {
    background-color: var(--purple);
    padding-bottom: 1rem;
}

.services-header {
    font-family: 'Inter';
    font-weight: bold;
    color: var(--white);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 3ch;
    letter-spacing: 0.5px;

}

.services-header h3 {
    color: var(--yellow);
}

.choose-container {
    background-color: var(--pink);
    padding: 20px 10px;
    border: 10px 10px;
}

.choose-container h2 {
    color: var(--white);    
    padding: 10px 5px;
    margin-bottom: 0.25rem;
}

.choose-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
    max-width: 450px;
    margin: 0 auto;
    padding: 0;
} 

.choose-page li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: var(--black);
    padding: 20px 10px;
}

.choose-page .first-option {
    background-color: var(--teal);
}
.choose-page .second-option {
    background-color: var(--lavender);
}
.choose-page .third-option {
    background-color: var(--yellow);
}
.choose-page .fourth-option {
    background-color: var(--white);
}

.pricing-container {
    background-color: var(--purple);
    padding-bottom: 10px;
}

.pricing-header {
    font-family: 'Inter';
    font-weight: bold;
    color: var(--white);
    margin-left: 10px;
    padding-top: 10px;
    line-height: 3ch;
    letter-spacing: 1.5px;

}

.table-container h3 {
    color: var(--yellow);
    font-family: 'Inter';
    font-weight: bold;
    margin-left: 10px;
    line-height: 3ch;
}

.pricing-table {
    margin: 0 auto;
}

.pricing-table th {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
}

.pricing-table th, td {
    border-bottom: 2px solid var(--yellow);
    border: 2px solid var(--yellow);
    font-family: 'Inter';
}

.pricing-table thead {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pricing-table th, .pricing-table tbody{
    background-color: var(--yellow);
}

.pricing-table td { 
    background-color: var(--white);
    padding: 15px;
    margin: 2px;
    text-align: center;
}
    

.step-container {
    background-color: var(--pink);
    color: var(--white);
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 10px;
}

.step-container h2 {
    padding: 10px 0;
}

.step-container p {
    line-height: 2.5ch;

}

.step-container button {
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    width: 90%;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 6px 40px  rgba(0, 0, 0, 0.3);
}

.step-container button .button {
    font-weight: 800;
    font-size: larger;
}

footer {
    display: grid;
    font-family: 'Inter';
    font-size: small;
    grid-template-columns: 1fr 1fr;    
    background-color: var(--purple);
    color: var(--white);
    padding: 70px 60px;
    margin: 0 auto; 
}

